.container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	.toolbar {
		position: fixed;
		z-index: 2;

		&__spacer {
			flex: 1 1 auto;
		}
	}
}

.drawer-container {
	flex: 1;
	margin-top: 4.5em;

	&__content {
		padding: 12px;

		.products {
			display: grid;
			gap: 3em;
			grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
		}
	}
}

.card {
	max-width: 300px;
	height: 300px;
	&__image {
		width: 100%;
		height: auto;
		max-height: 200px;
		object-fit: cover;
	}

	&__title {
		max-width: 100px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__content {
		flex: 1;
	}
}
